<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div style=" display: flex; align-items: center; justify-content: center; flex-direction: column;">
        <h3> Awaiting for payment - order #{{order_id}} </h3>
        <br>
        <p>Thank you for purchasing in our store.</p>
        <br>
            <p>We have just received your order and now
            we are waiting for your payment - you got 1 hour
            to do that.</p>
            <br>
            <p>After that time the items from your
            cart will be deleted from your cart and then will be
            available for other users.</p>
            <br>
            <h4>THIS IS NOT SHIPPING CONFIRMATION EMAIL.</h4>
    </div>
</body>
</html>