<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div style=" display: flex; align-items: center; justify-content: center; flex-direction: column;">
        <h3> Email Update </h3>
        <br>
        <p>
        Click the link below to update your email.
        </p> 

        <a style=" padding: 1rem; border-radius: 0.5rem; font-size: 1rem; text-decoration: none; background: #0275d8; color: white;" href="http://localhost:8000/api/email/confirm-email-change/?token={{token}}">
            Update your email
        <a>

    </div>
</body>
</html>